<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Trocchi" rel="stylesheet">

  {{!-- <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.csss"> --}}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../assets/css/style.css">

  <title>New York Time Scraper</title>
</head>

<body>
  {{!-- <header>
    <a href="/">
      <div id="sitename">New York Times Scraper</div>
    </a>
    <a href="/">
      <button id="all-articles">All Articles</button>
    </a>
    <a href="/saved">
      <button id="saved-articles">Saved Articles</button>
    </a>
    <form action="/scrape" method="GET">
      <button type="submit" id="refresh-articles">Scrape For Newest Articles</button>
    </form>
  </header> --}}
  {{!-- <img id="cover" src="/assets/images/cover.jpg"> --}}

  <div class="container-fluid">
    {{{ body }}}
  </div>


  <div id="addnote">
    <div id="note-displayer">
      <h2>Note</h2>
      <h3>Article:
        <span id="article-title"></span>
      </h3>
      <div id="note">
        <label for="note-title">Title</label>
        <br>
        <input type="text" placeholder="Title" name="title" id="note-title">
        <br>
        <label for="note-body">Note</label>
        <br>
        <textarea rows="7" placeholder="Note" id="note-body"></textarea>
        <br>
        <button type="submit" id="add-note">Save Note</button>
        <button type="button" id="close-note">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> {{!-- linked javascript file --}}
  <script src="/assets/javascript/app.js"></script>
  <footer>© Copyright 2018 Ozzy Cardenas</footer>
</body>

</html>